
$black: #000;
$white: #fff;
$gray: #eee;

$space: 15px;

$base: orange;
$basedark: darken( $base , 10% );
$baselight: lighten( $base, 10% );

$font-serif: "Open Sans", sans-serif;
$font-design: "Lobster";


$input-height: 30px;
